* {
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
} 

header {
    margin-top: 5px;
    background-color: #E4E3E1;
    height: 65px;
    padding: 15px;
    box-shadow: 0 0 #000;
    font-weight: lighter;
}

.p1{
    font-size: 40px;
}

#logo {
    margin-top: 4px;
    padding-left: 20px;
}

.navbar ul {
    display: flex;
    justify-content: right;
    align-items: right;
    padding-right: 20px;
}

.navbar ul li {
    margin-top: -50px;
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: #000000;
    padding: 5px 15px;
    font-size: 18px;
    transition: .3s ease;
}

.title {
    margin: 50px;
    font-size: 80px;
    font-weight: lighter;
}

.columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 50px;
}


.column {
    flex: 1;
    /* border: 1px solid #666; */
    margin: 2px;
    padding: 18px;
    
    transition: 0.3s;
}

.location {
    /* padding: 30px; */
    font-size: 25px;
}

.number {
    font-size: 20px;
}

.column:first-child { 
    margin-left: 0;
    
}

.column:last-child {
    margin-left: 0;
    
}

@media screen and (max-width: 980px) {
    .columns .column {
        margin-bottom: 5px;
        flex-basis: 40%;
    }
    .columns .column:last-child {
        flex-basis: 100%;
        margin: 0;
    }
    .columns .column:nth-last-child(2) {
        margin-right: 0;
    }
}

@media screen and (max-width: 680px) {
    .columns .column {
        flex-basis: 100%;
        margin: 0 0 5px 0;
    }
}

.order a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #111;
    text-transform: uppercase;
    color: #111;
    text-decoration: none; 
}

.order a:hover {
    color: #fff;
    background-color: #111;
}

#menu-header {
    margin-left: 50px;
    margin-right: 50px;
    opacity: 0.86;
  }

.menu-title{
    text-align: center;
    margin: 50px;
    font-size: 80px;
    font-weight: lighter;
}

.menu-title p1 {
    display: inline-block;
}

/*  For order buttons
    .order:before{
    content: '';
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background: #fff;
    transform: 0.5s ease-in-out;
    transform: scaleY(1); 
    transition-delay: 0.5s;
}

.order:hover:before {
    transform: scaleY(0);
}

.order:after{
    content: '';
    position: absolute;
    left: 6px;
    top: -2px;
    height: calc(100% + 4px);
    width: calc(100% - 12px); 
    background: navy;
    transform: 0.5s ease-in-out;
    transform: scaleX(1);
}

.order:hover:after {
    transform: scaleX(0);
}


.order a span {
    position: relative;
    z-index: 3;
} */

